<%= admin_header @conn, "Missions, Sidequests and Contests", fn -> %>
  <%= link "Create Assessment", to: assessment_path(@conn, :new), class: "pt-button pt-intent-success" %>
<% end %>

<div class="sa-admin-content">
  <%= non_ideal_state "There are no assessments", Enum.empty?(@assessments) %>
</div>
