<h2 class="title">
  Create Achievement
</h2>

<%= render "form.html", changeset: @changeset,
                        action: achievement_path(@conn, :create) %>

<span>
  <%= link "Back", to: achievement_path(@conn, :index) %>
</span>
