<h2>Show User</h2>

<ul>

  <li>
    <strong>First name:</strong>
    <%= @current_user.first_name %>
  </li>

  <li>
    <strong>Last name:</strong>
    <%= @current_user.last_name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @current_user.email %>
  </li>

</ul>

<span><%= link "Edit", to: user_path(@conn, :edit, @current_user) %></span>
<span><%= link "Back", to: user_path(@conn, :index) %></span>
