/* Modify BlueprintJS variables here */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

$icon-font-path: "~@blueprintjs/core/resources/icons" !default;
$pt-font-family: 'Noto Sans' !default;
$pt-navbar-height: 50px !default;

/* Source Academy Colors */
$sa-black: #06060D !default;
$sa-dark-blue: #101E35 !default;
$sa-light-blue: lighten(#71BCB0, 15%) !default;

$pt-intent-primary: #0F79E3 !default;

/* Colors */
@import '~@blueprintjs/core/src/common/variables';
