@import '~flexboxgrid/dist/flexboxgrid.css';
@import '~normalize.css';
@import 'variables';
@import '~@blueprintjs/core/src/blueprint';

h1,h2,h3,h4,h5,h6 {
  font-weight: 700 !important;
}

$body-background-color: $sa-black;

body {
  background: $body-background-color;
}

.pt-navbar {
  background: transparent;
}

.pt-navbar.pt-dark {
  box-shadow: none !important;
  background: transparent;
}

header {
  background: linear-gradient(45deg, $sa-dark-blue, #192C39);
}

.pt-button {
  box-shadow: none !important;
  border-radius: 0px;
  font-weight: 500;
  font-family: 'Noto Sans', sans-serif;
}

.pt-input-group {
  margin-bottom: 10px;
}

.sa-logo-container {
  max-width: 500px;
  margin: auto;
}

.sa-logo {
  width: 100%;
}

.sa-auth {
  background: $sa-light-blue;
  border-radius: 0;
  padding: 25px;
  max-width: 500px;
  margin: 0 auto;

  color: darken($sa-light-blue, 30%);

  h1,h2,h3,h4,h5,h6 {
    color: darken($sa-light-blue, 50%);
  }

  .heading {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

  .pt-button {
    width: 100%;
    background-color: darken($sa-light-blue, 20%);
  }

  .pt-button:hover {
    background-color: darken($sa-light-blue, 30%);
  }

  a {
    color: darken($sa-light-blue, 40%);
    font-weight: 700;
  }

  .heading, .pt-input-group {
    margin-bottom: 25px;
  }
}

.sa-admin-navbar {
  background: $sa-light-blue;
  color: darken($sa-light-blue, 50%);
  a {
    font-weight: 500;
    color: darken($sa-light-blue, 50%);
  }
}

.sa-admin {
  background: lighten($sa-light-blue, 8%);
  margin-top: 15px;
}

.sa-admin-header {
  margin: 0;
  background: $sa-dark-blue;
  color: $sa-light-blue;

  .heading {
    font-size: 1.3em;
    padding: 10px;
  }
}

.sa-admin-content {
  margin: 0;
  padding: 10px;
}
