<%= form_for @changeset, material_path(@conn, :create_category), fn f -> %>
  <div class="columns">
    <div class="control">
      <%= text_input f, :name, class: "input" %>
    </div>
    <%= submit "Submit", class: "button is-success" %>
  </div>
<% end %>
