<%= form_for @changeset, material_path(@conn, :create_category), fn f -> %>
  <div class="control">
    <%= text_input f, :name, class: "pt-input", placeholder: "Category Name" %>
  </div>
  <br />
  <%= submit "Submit", class: "pt-button pt-intent-success" %>
<% end %>
