<%= admin_header @conn, "Upload Material/Add Category" %>
<div class="pt-callout">
  <%= render "category.form.html", conn: @conn, changeset: @category_changeset %>
</div>
<div class="pt-callout">
  <h5>Upload Material</h5>
  <%= render "form.html",
      conn: @conn,
      categories: @categories,
      changeset: @changeset %>
</div>


