@import '~sa-variables';

body {
  margin: 0;
  padding: 0;
  background: $dark-gray3;
}

.sa-app {
  padding: 0;
}

.sa-content {
  position: relative;
}

.sa-http-error {
  padding: 100px;
  font-size: 1.2em;

  span.error-code {
    color: $red3 !important;
    font-weight: 700;
  }
}