@import '~sa-variables';

.sa-answer {
  .answer-tab {
    padding-left: 20px;
    text-align: center;
    max-width: 400px;

    .pt-tab-list {
      width: 100%;
    }

    .pt-tab[aria-selected="true"] {
      color: $dark-gray4;
      font-weight: 700;
      background: white;
      border-top: 2px solid $dark-gray4;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-left: 1px solid $light-gray2;
      border-right: 1px solid $light-gray2;
    }
    
    .pt-tab-indicator-wrapper {
      display: none;
    }

    .pt-tab {
      text-transform: uppercase;
      flex-basis: 25%;
      padding: 0px 10px;
    }
  }

  .sa-editor-container {
    padding: 0;
    > .row {
      margin: 0
    }
  }

  .editor-toolbar {
    background: white;
    width: 100%;
    margin-bottom: 5px;

    .pt-button {
      font-weight: 500;
    }
  }

  .sa-editor {
    height: 71vh;
  }
}

.sa-interpreter {
  width: 100%;
  height: 70vh;

  .input {
    position: relative;
    background: white;
    min-height: 50px;
    padding: 15px 40px;
    font-family: monospace;
    font-weight: 500;
    border-left: 3px solid $green5;

    .in-icon {
      position: absolute;
      left: 15px;
      transform: translate(-50%, -50%);
      top: 50%;
      color: $gray5;
    }

    .input-editor {
      height: 80px;
    }
  }

  .output {
    border-bottom: 1px solid $light-gray4;
    background:white;
    pre {
      box-shadow: none;
      border-radius: 0;
      padding: 0;
      font-size: 14px;
    }

    .code {
      padding: 5px 40px;
      position: relative;

      pre > code {
        font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
      }

      .in-icon {
        position: absolute;
        left: 15px;
        transform: translate(-50%, -50%);
        top: 50%;
        color: $gray5;
      }
    }

    .value {
      background: $light-gray4; 
      padding: 5px 40px;
      position: relative;
      font-size: 14px;
      font-weight: 500;

      span {
        font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
      }

      .out-icon {
        position: absolute;
        left: 15px;
        transform: translate(-50%, -50%);
        top: 50%;
        color: $gray5;
      }
    }
  }
}
