@import '~sa-variables';

.sa-answer {
  .answer-tab {
    background: $light-gray4;
    text-align: center;

    .pt-tab-list {
      width: 100%;
    }

    .pt-tab[aria-selected="true"] {
      color: $dark-gray4;
      font-weight: 700;
      border-bottom: 2px solid $dark-gray4;
    }
    
    .pt-tab-indicator-wrapper {
      display: none;
    }

    .pt-tab {
      text-transform: uppercase;
      flex-basis: 25%;
      padding: 0px 10px;
    }
  }

  .sa-editor-container {
    padding: 0
  }

  .editor-toolbar {
    padding: 0px 15px;
    flex-basis: 100%;

    .pt-button {
      font-weight: 500;
    }
  }

  .sa-editor {
    height: 71vh;
  }
}

.sa-interpreter {
  width: 100%;
  height: 70vh;

  .output {
    border-bottom: 1px solid $light-gray4;
    background:#f8f8f8;

    .code {
      padding: 5px 40px;
      position: relative;

      pre {
        box-shadow: none;
        border-radius: 0;
        padding: 0;
      }

      .in-icon {
        position: absolute;
        left: 15px;
        transform: translate(-50%, -50%);
        top: 50%;
        color: $gray5;
      }
    }

    .value {
      background: $light-gray4; 
      padding: 5px 40px;
      position: relative;
      font-weight: 500;
      font-family: monospace;

      .out-icon {
        position: absolute;
        left: 15px;
        transform: translate(-50%, -50%);
        top: 50%;
        color: $gray5;
      }
    }
  }
}
