.sa-happening {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 10px;
  margin-bottom: 5px;

  .picture {
    display: flex;
    justify-content: center;
    width: 50px;
    align-items: center;
    overflow: hidden;
    padding: 0;
  }

  .picture img {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .content {
    padding: 15px;
    background: white;
    border-radius: 5px;
  }

  .time {
    color: $gray3;
    font-weight: 500
  }

  @media(max-width: 768px) {
    .picture, .time {
      display: none
    }
  }
 }
