@import '~sa-variables';

.sa-inbox {
  background: $light-gray3;

  .sa-duesoon {
    .section {
      margin-top: 10px;
      margin-bottom: 10px;

      .heading {
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        color: $gray4;
        border-radius: 10px;
        padding: 10px 20px;
      }
    }
  }

  .sa-happenings {
    .heading {
      text-align: center;
      padding: 10px;
      font-weight: 500
    }
  }
 }