@import '~sa-variables';

.sa-primary-navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  background: $dark-gray4;

  .resume-game {
    .pt-button {
      border-radius: 0px;
    }

    @media(max-width: 960px) {
      .pt-button {
        text-align: center;
      }
      .pt-button span {
        display: none;
      }
    }
  }

  .pt-button::before {
    font-size: 1.2em;
    color: $gray3;
  }

  .pt-button span {
    font-weight: 700;
    font-size: 0.8em;
    color: $gray5;
  }

  .tabs {
    margin-left: 50px;
    padding-top: 8px;
    max-width: 480px;

    .pt-button {
      text-align: left;
    }

    .pt-button.pt-active {
      background: $light-gray1;
      height: $pt-navbar-height - 8px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-left: 0.5px solid $light-gray3;
      border-right: 0.5px solid $light-gray3;
    }

    .pt-button.pt-active::before {
      color: $dark-gray4 !important;
    }

    .pt-button.pt-active span {
      color: $dark-gray4 !important;
    }

    @media(max-width: 768px) {
      .pt-button {
        text-align: center;
      }
      .pt-button span {
        display: none;
      }
    }
  }
}

.sa-secondary-navbar {
  position: fixed;
  top: $pt-navbar-height;
  width: 100%;
  background: $light-gray1;
  padding: 10px;
  text-align: center;

  .pt-button-group {
    color: $dark-gray3;
  }

  .pt-button {
    margin: 0px 5px;
    padding: 0px 20px;
    font-weight: 500;
    border-radius: 10px !important;
  }

  .pt-button.pt-active {
    background: $light-gray4;
  }

  @media(max-width: 768px) {
    .pt-button span {
      display: none
    }
  }
}