@import '~sa-variables';

.workspace-navbar {
  max-width: 1024px;
  margin: 0 auto;
  text-align: left !important;

  .assessment-title {
    font-size: 0.95em;
  }

  .back-button {
    border-radius: 25px !important;
    background-color: $gray4;
  }

  .assessment-type {
    font-weight: 700;
  }
}