.sa-academy-bottombar {
  height: 1vh;

  .profile-tab-container {
    text-align: left;
  }

  .profile-tab {
    cursor: pointer;

    .photo {
      margin-left: 5px;
      width: 50px;
      height: 50px;
      border: 3px solid $dark-gray4;
      border-radius: 5px;
    }

    img {
      width: 100%;
      height: auto;
    }

    .name {
      margin: 0px 5px;
    }

    .stat-bar {
      margin: 15px 0px;
      border: 2px solid $light-gray1;
      position: relative;
      border-radius: 5px;
      text-align: center;
    }

    .stat-bar-fill {
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 75%;
      height: 100%;
      background: $light-gray1;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      z-index: -1;
    }

    @media(max-width: 960px) {
      .name {
        display: none;
      }
    }
  }
}