@import '~sa-variables';

.sa-inbox {
  margin: 0 auto;
  max-width: 1024px;

  .sidebar {
    max-width: 250px;
    background: $light-gray5;
    height: 83vh;

    .pt-tree-node {
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: 500;
      color: $dark-gray3;
    }

    @media(max-width: 768px) {
      .pt-tree-node-label {
        display: none
      }
      .pt-tree-node-caret, .pt-tree-node-caret-none {
        min-width: 0px;
      }
      .pt-tree-node-icon::before {
        margin-left: 12px !important;
      }
    }

    .pt-tree-node.pt-tree-node-selected > .pt-tree-node-content,
    .pt-tree-node:hover {
      border-radius: 10px;
      background: $light-gray4 !important;
      color: $blue3;
      .pt-tree-node-icon {
        color: $blue3;
      }
    }
  }

  .sa-duesoon {
    padding: 10px 15px;
    overflow-y: auto;
    height: 83vh;

    .assessment {
      position: relative;
      margin-bottom: 20px;
      min-height: 200px;
      padding: 0;
      border: 2px solid $light-gray4;
      border-radius: 5px;
    }

    .cover {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      min-height: 200px;
      padding: 0;
    }

    .cover img {
      flex-shrink: 0;
      position: relative;
      width: 100%;
      height: 100%;
    }

    .description {
      padding: 15px;
      p {
        padding: 5px;
        color: $gray2;
        margin-bottom: 10px;
      }
      .order {
        color: $gray2;
        font-weight: 300;
      }
      .due-on {
        color: $gray1;
      }
    }

    .exp-gained {
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 10px;
      background: $dark-gray4;
      color: white;
      font-weight: 700;
    }

    .controls {
      position: absolute;
      width: 100%;
      left: 0px;
      bottom: 0px;
      padding: 5px;
      background: $dark-gray4;
      .pt-button {
        border-radius: 10px;
      }
    }

  }

  @media(max-width: 768px) {
    .sidebar-container {
      flex-basis: 12.5%
    }
  }

  .inbox-content {
    background: white;
    overflow-y: auto;
  }
 }