@import '~sa-variables';

.sa-inbox {
  background: $light-gray3;

  .navbar {
    width: 100%;
    background: $light-gray1;
    padding: 10px;
    text-align: center;

    .pt-button-group {
      color: $dark-gray3;
    }

    .pt-button {
      margin: 0px 5px;
      padding: 0px 20px;
      font-weight: 500;
      border-radius: 10px !important;
    }

    .pt-button.pt-active {
      background: $light-gray4;
    }

    @media(max-width: 768px) {
      .pt-button span {
        display: none
      }
    }
  }

  .sa-duesoon,
  .sa-announcements,
  .sa-happenings {
    overflow-y: auto;
    height: 87vh;
  }

  .sa-duesoon {
    .section {
      margin-top: 10px;
      margin-bottom: 10px;

      .heading {
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
        color: $gray4;
        border-radius: 10px;
        padding: 10px 20px;
      }
    }
  }

  .inbox-content {
    margin: 0 auto;
    max-width: 1024px;
  }

  .sa-happenings {
    .heading {
      text-align: center;
      padding: 10px;
      font-weight: 500
    }
  }
 }