@import '~sa-variables';

.sa-inbox {
  margin: 0 auto;
  max-width: 1024px;

  .sidebar {
    max-width: 250px;
    background: $light-gray5;
    height: 83vh;

    .pt-tree-node {
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: 500;
      color: $dark-gray3;
    }

    @media(max-width: 768px) {
      .pt-tree-node-label {
        display: none
      }
      .pt-tree-node-caret, .pt-tree-node-caret-none {
        min-width: 0px;
      }
      .pt-tree-node-icon::before {
        margin-left: 12px !important;
      }
    }

    .pt-tree-node.pt-tree-node-selected > .pt-tree-node-content,
    .pt-tree-node:hover {
      border-radius: 10px;
      background: $light-gray4 !important;
      color: $blue3;
      .pt-tree-node-icon {
        color: $blue3;
      }
    }
  }

  @media(max-width: 768px) {
    .sidebar-container {
      flex-basis: 12.5%
    }
  }

  .inbox-content {
    background: white;
    overflow-y: auto;
  }
 }