@import '~sa-variables';

.sa-inbox {
  background: $light-gray3;

  .navbar {
    width: 100%;
    background: $light-gray1;
    padding: 10px;
    text-align: center;

    .pt-button-group {
      color: $dark-gray3;
    }

    .pt-button {
      margin: 0px 5px;
      padding: 0px 20px;
      font-weight: 500;
      border-radius: 10px !important;
    }

    .pt-button.pt-active {
      background: $light-gray4;
    }

    @media(max-width: 768px) {
      .pt-button span {
        display: none
      }
    }
  }

  .sa-duesoon {
    overflow-y: auto;
    height: 87vh;

    .assessment {
      background: white;
      position: relative;
      max-width: 800px;
      margin: 0 auto;
      margin-top: 20px;
      height: 200px;
      padding: 0;
      border: 2px solid $light-gray4;
      border-radius: 5px;
      padding-bottom: 1vh;
    }

    .assessment.row {
      padding: 0;
    }

    .cover {
      display: flex;
      justify-content: center;
      flex-basis: 25%;
      align-items: center;
      overflow: hidden;
      padding: 0;
    }

    .cover img {
      flex-shrink: 0;
      position: relative;
      width: 100%;
      height: 100%;
    }

    .description {
      position: relative;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px;
      padding-bottom: 50px;
      height: 100%;

      p {
        padding: 5px;
        color: $gray2;
        margin-bottom: 10px;
      }
      .order {
        color: $gray2;
        font-weight: 300;
      }

      .due-on {
        color: $gray1;
      }

      .due-at {
        padding-top: 10px;

      }

      .continue-button {
        padding: 0;
        border-radius: 0px;
        color: $dark-gray2;
        font-weight: 500;
        width: 100%;
        height: 100%;
      }
    }

    @media(max-width: 768px) {
      .cover {
        display: none
      }
    }

    .controls {
      position: absolute;
      background: $light-gray4;
      bottom: 0px;
      right: 6px;
      height: 50px;
      left: 8px;
    }

  }

  .inbox-content {
    margin: 0 auto;
    max-width: 1024px;
    overflow-y: auto;
  }
 }