@import "~sa-variables";

@import 'assessment';
@import 'announcement';
@import 'happening';
@import 'navbar';
@import 'inbox';

.sa-academy {
  background: white;

  .pt-navbar {
    font-weight: 700;
  }

  > .content {
    background: $light-gray5;
    padding-top: 2 * $pt-navbar-height;
    min-height: 100vh;
  }

  > .content > div {
    overflow-y: auto;
    height: 87vh;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $light-gray4;
  }

  ::-webkit-scrollbar {
    width: 5px;
    background-color: $light-gray4;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $gray4;
    border: none; 
  }
}
