@import "~sa-variables";

@import './Navbar';
@import './Inbox';

.sa-academy {
  background: white;

  .pt-navbar {
    font-weight: 700;
  }
  .content {
    background: $light-gray5;
    height: 86vh;
  }
}