/* This file is for your main application css. */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');

body {
  font-family: 'Noto Serif', sans-serif;
}

.header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  font-weight: 700;
  font-size: 0.9em;
  border-bottom: 1px solid #efefef;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.header {
  z-index: 9;
}

main {
  margin-top: 70px;
}

.main-content {
  padding-left: 280px;
  padding-right: 50px;
}

.sidebar {
  position: fixed;
  top: 55px;
  left: 0px;
  bottom: 0px;
  width: 250px;
  overflow: scroll;
}

.sidebar .menu-label {
  font-weight: 700;
  padding: 10px 15px;
  margin-bottom: 0;
  margin-top: 0;
}

.sidebar .menu-list li {
  padding-left: 20px;
}

.sidebar .menu-list a {
  font-size: 0.85em;
  font-weight: 500;
  color: gray
}
