<!DOCTYPE html>
<html lang="en">
  <%= render "head.html", conn: @conn %>
  <body>
    <header class="header">
      <div class="container">
        <%= render "header.html", conn: @conn, current_user: assigns[:current_user] %>
      </div>
    </header>
    <main role="main">
      <div class="columns">
        <%= if assigns[:use_sidebar] do %>
          <%= render "sidebar.html", conn: @conn, current_user: assigns[:current_user] %>
        <% end %>
        <div class="column is-full main-content">
          <%= render "flash.html", conn: @conn %>
          <%= render @view_module, @view_template, assigns %>
        </div>
      </div>
    </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
