<%= admin_header @conn, "New Announcement" %>

<div class="sa-admin-content">
  <div class="sa-panel">
    <div class="body">
      <%= render "form.html",
            announcement_changeset: @announcement_changeset,
            action: announcement_path(@conn, :create) %>
    </div>
  </div>
</div>
