<%= form_for @give_xp_changeset, student_give_xp_path(@conn, :create, @student.id), fn f -> %>
  <div class='field'>
    <label class='label' for='XP amount'>XP Amount</label>
    <%= text_input f, :amount, class: "input" %>
  </div>
  <div class='field'>
    <label class='label' for='password-input'>Reason</label>
    <%= text_input f, :reason, class: "input" %>
  </div>
  <div class='field'>
    <%= submit "Give XP", class: "button is-primary" %>
  </div>
<% end %>
