<h3 class="title is-3">
  <strong>401</strong>&nbsp;
  Unauthorized Access
</h3>
<article class="notification">
  You must be logged in as course staff to view this page.<br />
  <%= if @current_user do %>
    Your current role is <%= @current_user.role %>
  <% end %>
</article>

