<h2 class="title">New achievement</h2>

<%= render "form.html", changeset: @changeset,
                        action: achievement_path(@conn, :create) %>

<span><%= link "Back", to: achievement_path(@conn, :index) %></span>
